Rplots.pdf
data/*
downloads/*
.*
!.pre-commit-config.yaml
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*/__pycache__/*
__pycache__
!/.gitignore
figs/*
tmp/*
old/*
dask-worker-space
Rplots.pdf
*/dask-worker-space/*
tmp_old/*